*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.topSection, .logoSection{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: white;
    font-size: 12px;
}

.topSection{
    padding: 5px 50px 5px 80px;
}

.logoSection{
    background-color: #F0A83E;
    padding: 20px 30px;
}

.logoSection .menuBar{
    width: 30px;
    display: none;
}

.logoSection .logoPet{
    width: 150px;
}

.menu, .principalMenu{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.menu img{
    width: 10px;
    height: 10px;
}

.principalMenu{
    font-size: 15px;
}

/* main */
#banner{
    width: 100%;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

#banner div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #3C2313;
}

#banner h2{
    background-color: white;
    color: #3C2313;
    font-size: 40px;
}

#banner p{
    font-size: 20px;
}

#banner span{
    background-color: #F0A83E;
    color: white;
    font-size: 30px;
}

#banner h2, #banner span{
    padding: 20px;
    border-radius: 10px;
}

.sectionProducts div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sectionProducts div h2{
    font-size: 40px;
}

.sectionProducts div p {
    letter-spacing: 2px;
}

.products{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.products article{
    text-align: center;
    background-color: #FBFAF6;
    color: #3C2313;
    padding-bottom: 10px;
    line-height: 30px;
}

.products article span{
    color: #F0A83E;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    color: #3C2313;
}

.formulario .info{
    list-style-type: none;
    color: white;
}

.formulario .info li{
    padding:  20px 180px 20px 30px;
    margin: 15px 0;
    background-color: #3C2313;
    border-radius: 25px;
}

.botones{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.botones li{
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 40px;
    width: 150px;
    text-align: center;
}

.botones .reset{
    background-color: #8A8787;
}

.botones .send{
    background-color: #F0A83E;
}

/* footer */

.subscribe{
    margin-top: 100px;
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.subscribe .phrase{
    display: flex;
    color: white;
    gap: 20px;
    align-items: center;
    font-size: 25px;
}

.subscribe .email{
    display: flex;
    align-items: center;
    color: white;
    gap: 40px;
}

.subscribe .email p{
    color: #A0A0A0;
    background-color: white;
    padding: 20px 200px 20px 20px;
    border-radius: 20px;
}

.subscribe .email span{
    background-color: #3C2313;
    padding: 20px;
    border-radius: 20px;
}

.contactInfo{
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactInfo .logoFooter{
    width: 300px;
    height: 50px;
    padding-right: 50px;
}

.contactInfo ul{
    list-style-type: none;
    padding: 20px;
}

.contactInfo ul li{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.contactInfo ul li span{
    font-size: 20px;
    color: white;
}

.contactInfo ul li p{
    color: #8A8787;
}

.derechosReservados{
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 10px;
}


@media (max-width: 500px){
    .topSection{
        display: none;
    }

    .sectionProducts div h2{
        text-align: center;
    }

    .principalMenu{
        display: none;
    }

    .products{
        flex-direction: column;
    }

    .logoSection .menuBar{
        display: block;
    }

    #banner{
        background-size: cover;
        height: 300px;
        background-color: red;
        justify-content: end;
        padding: 0 30px 0 0;
    }

    #banner div{
        align-items: end;
        gap: 15px;
    }

    #banner h2{
        background-color: white;
        color: #3C2313;
        font-size: 25px;
    }
    
    #banner p{
        font-size: 20px;
    }
    
    #banner span{
        background-color: #F0A83E;
        color: white;
        font-size: 20px;
        margin-right: 20px;
    }

    .formulario .info{
        padding: 0 50px;
    }

    .formulario .info li{
        font-size: 13;
        padding: 20px 80px 20px 30px;
    }

    .botones{
        padding: 0;
    }

    .subscribe{
        flex-direction: column;
        padding: 20px 10px;
    }

    .subscribe .phrase{
        font-size: 18px;
    }

    .subscribe .email{
        gap: 15px;
        margin-top: 15px;
    }

    .subscribe .email p{
        font-size: 13px;
        width: 100%;
        padding: 15px 10px 15px 20px;
    }
    
    .subscribe .email span{
        padding: 15px;
        border-radius: 20px;
    }

    .contactInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactInfo .logoFooter{
        margin: 20px 0 0;
        width: 200px;
        padding: 0;
        order: -1;
    }
}